@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// Base

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-neutral-grayishviolet;
  font-size: 18px;
  font-weight: 500;
  background-color: $color-primary-bg;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
    padding: 0 165px;
}